<div class="col-md-8 blog-main">

  <h2 class="font-italic breadcrumb-item active"><%= @blog.title %></h2>

  <nav class="breadcrumb">
      <%= link_to @blog.topic.title, topic_path(@blog.topic.id), class:"breadcrumb-item" %>
      <%= link_to 'Blogs', blogs_path, class:"breadcrumb-item" %>
      <span class="ml-auto">
        <%= icons_helper(@blog, "blogcrumb")%>
      </span>
  </nav>
  
  <p><%= markdown @blog.body %></p>

  <%= render "comments/comment_form" %>
  <div id = "comments" data-blog-id="<%= @blog.id %>">
	  <!-- <%#= render @blog.comments %>  I prefer the method below because it speaks more but this works if you modify the comment_broadcast_job by passing in just comment without the comments array-->
	  <%= render "comments/comment" , comments: @blog.comments, blog: @blog%>
  </div>
  
</div>
