<%= form_with(model: @portfolio_item, local: true) do |p| %>
<%#= form_for(@portfolio_item) do |p| %>

  <div class = "row">
    <div class= "col-md-6">
      <div class="form-group">
        <%= p.label :title %>
        <%= p.text_field :title, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= p.label :subtitle %>
        <%= p.text_field :subtitle, class: "form-control" %>
      </div>

      <div class="form-group">
        <label class = "btn btn-primary">
          <%= p.file_field :main_image, style: "diplay: none;" %>
        </label>
       
      </div>

      <div class="form-group">
        <label class = "btn btn-primary">
          <%= p.file_field :thumb_image, style: "diplay:none;" %>
        </label>
        
      </div>
    </div>
    <div class= "col-md-6">
      <div class="form-group">
        <%= p.label :body %>
        <%= p.text_area :body, class: "form-control", rows: 13 %>
      </div>
    </div>
  </div>

  <div class= "col-md-12">
    <h2>Technologies Used:</h2>

    <div>
      <%= p.fields_for :technologies do |technology_form| %>
        <%= render "technology_fields", f: technology_form %>
      <% end %>
      <div>
        <%= link_to_add_association 'Add Technology', p, :technologies %>
      </div>
    </div>

    <div class="form-group">
      <%= p.submit "Save Portfolio Item", class: 'btn btn-primary' %>
    </div>

  </div>
<% end %>
