<% @portfolio_items.each do |portfolio_item| %>
	<div class="col-md-4">
		<div class="card mb-4 shadow-sm" data-id= "<%= portfolio_item.id %>">
			<!-- This method is to account for heroku ephemeral filesystem not storing images due to dynos resetting every 24 hours, the proper work around is using a cloud storage -->
			<%= place_images (portfolio_item) %> 
			<div class="card-body">
				<p class="card-text">
					<span><%=  portfolio_item.title %></span>
					<%= portfolio_item.subtitle%>
				</p>
				<div>
					<div>
					 	<button type="button" class="btn btn-sm btn-outline-secondary">
					 		<%= link_to "View", portfolio_show_path(portfolio_item.id) %> 
					 	</button>
					 	<% if logged_in?(:site_admin) %>
						 	<button type="button" class="btn btn-sm btn-outline-secondary">
						 		<%= link_to "Edit", edit_portfolio_path(portfolio_item.id) %>
						 	</button>
						 	<button type="button" class="btn btn-sm btn-outline-secondary">
						 		<%= link_to "Delete",portfolio_item, method: :delete, data: { confirm: 'Are you sure?' } %>
						 	</button>
					 	<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>	
<% end %>