 
    <div class="col-md-12">
      <div class="card flex-md-row mb-4 shadow-sm">
        <div class="card-body d-flex flex-column align-items-start">
            <div >
              <h3 class= "featured-post">Featured post</h3>
              <% @featured_blogs.each do |featured_blog| %>
                <% if featured_blog.featured? && featured_blog.published? %>
                  <div class= "blog-title"><%= featured_blog.title %></div>
                  <div class="mb-1 text-muted">
                    <%= distance_of_time_in_words( featured_blog.created_at, Time.now) %> ago
                  </div>
                  <% if featured_blog.body.length > 320 %>
                    <p class = "featured-body"><%= featured_blog.body[0,320] + "...." %></p>
                  <% else %>
                    <p class = "featured-body"><%= featured_blog.body %></p>
                  <% end %>
                  <p><%= link_to "Continue reading", featured_blog%></p>
                <% end %>
               <% end %>
            </div>
        </div> 
      </div>
    </div> 
